*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.header{
     display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 5px 6%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 40px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 500;
    color: white;
    padding: 9px 25px;
    background: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.header .btn button:hover{
     transform: scale(1.1);
}

