*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.header{
     display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 5px 6%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 40px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 500;
    color: white;
    padding: 9px 25px;
    background: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.header .btn button:hover{
     transform: scale(1.1);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 84vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero h1{
    color: white;
    width: 580px;
    height: 190px;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
}

.btnn button{
    font-weight: 500;
    color: white;
    padding: 9px 25px;
    background: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    width: 167px;
}

.btnn button:hover{
    transform: scale(1.1);
}

.productos h1{
    color: black;
    font-size: 40px;
}

.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
    padding: 42px;
}

.cajaazul{
    color: white;
    background-color: #131D3B;
    text-align: center;
    
}

.cajagris{
    color: #131D3B;
    background-color: #E9ECEF;
    text-align: center;
}

.caja{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 10rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.caja img{
    height: 2.5rem;
}

.padre{
    display: flex;
    flex-direction: row;
}

/*Promo*/

.nav-promos{
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style: none;
    margin: 30px;
}

.promociones .nav-promos li a{
    text-decoration: none;
    color: #4B4B4B;
}

.promociones .nav-promos li a:hover{
    color: black;
}

.nav-promos li{
    display: inline-block;
    padding: 15 35px;
}

.promociones .nav-promos li:hover{
    transform: scale(1.1);
}

.promociones h1{
    width: 430px;
    height: 45px;
    font-weight: 700;
    font-size: 32px;
    margin: 42px;
    color: #4B4B4B;
}

.tit .vertodos{
    display: flex;
    flex-direction: row-reverse;
    margin: 42px;
    text-decoration: none;
}

.tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jefe{
    display: flex;
    gap: 35px;
}

.boxgris{
    background-color: #E9ECEF;
    text-align: center;
}

.promociones .jefe{
    margin: 50px;
}

